
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle, rgba(212,215,227,1) 18%, rgba(211,217,238,1) 41%, rgba(197,207,246,1) 62%, rgba(175,163,163,1) 100%);
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.container {
  text-align: center; 
 
  padding: 20px;
  border-radius: 10px;

  margin-bottom: 10%;
}

h1, h3 {
  margin: 10px 0; 
}
