
body {
    /* background-image: url('OIP.jpg');
/* Full height */
/* height: 100%; */
/* Center and scale the image nicely */
/* background-position: center;
background-repeat: no-repeat;
background-size: cover; */ 
background: radial-gradient(circle, rgba(212,215,227,1) 18%, rgba(212,215,227,1) 41%, rgba(212,215,227,1) 62%, rgba(218,192,192,1) 100%);
    display: flex ;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin-left: 0px;
}

.container {
   
    text-align: center;
    position: relative;
    height: 500px;
    width: 600px;
}

button {
    
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
}

#noButton {
    position: absolute;
}
.cont{
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 100px;
    width: 500px;
}
